
/* Full-Screen Background Image */
.home-container {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
 background: url("../SellSense.jpg.png") no-repeat center center/cover;
  position: relative;
  background-size: cover; /* Ensure the image covers the whole container */
  background-position: -10% center; /* Shift the image a little bit to the left */
}
